extends ./layout/index

block contenido
    main.container
        .row
            div.col-md-5
                img(src="img/nosotros.jpg", alt="", class="img-fluid")

            div.col-md-5
                h1 #{pagina}
                blockquote  ipsum dolor sit amet, consectetur adipisicing elit. Quo, impedit! Quos aut quibusdam nulla tempore placeat. Voluptatum inventore eligendi dolorem? Sit nemo recusandae ad ipsam, molestias placeat deleniti modi corporis.

                p dolor sit amet, consectetur adipisicing elit. Quo, impedit! Quos aut quibusdam nulla tempore placeat. Voluptatum inventore eligendi dolorem? Sit nemo recusandae ad ipsam, molestias placeat deleniti modi corporis.

                p dolor sit amet, consectetur adipisicing elit. Quo, impedit! Quos aut quibusdam nulla tempore placeat. Voluptatum inventore eligendi dolorem? Sit nemo recusandae ad ipsam, molestias placeat deleniti modi corporis.

    div.listado-iconos
        div.container.mt-5.py-5.text-center
            div.row
                div.col-md-4
                    img(src="img/icono_seguridad.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, hic. Et ex quidem sequi dolorem! Omnis excepturi iure eum, sunt quisquam sed, enim nobis saepe debitis nesciunt sapiente nemo necessitatibus.

                div.col-md-4
                    img(src="img/icono_destinos.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, hic. Et ex quidem sequi dolorem! Omnis excepturi iure eum, sunt quisquam sed, enim nobis saepe debitis nesciunt sapiente nemo necessitatibus.

                div.col-md-4
                    img(src="img/icono_precios.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, hic. Et ex quidem sequi dolorem! Omnis excepturi iure eum, sunt quisquam sed, enim nobis saepe debitis nesciunt sapiente nemo necessitatibus.